RewriteEngine On

RewriteCond %{HTTP_HOST} ^dfdias.com.br$ [NC,OR]
RewriteCond %{HTTP_HOST} ^www.dfdias.com.br$
RewriteCond %{REQUEST_URI} !public/
RewriteRule (.*) /public/$1 [L]

RewriteRule ^(.*)/$ /$1 [L,R=301]

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^ index.php [L]